language: node_js
node_js: 
  - "stable"
cache:
  directories:
    - "node_modules"
install:
  - npm install
jobs:
  include:
  - stage: test
    script:
    - npm run lint
    - npm run test
on:
  branch: master