@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./RobotoMedium.woff2') format('woff2'),
    url('./RobotoMedium.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
    url('./RobotoRegular.woff2') format('woff2'),
    url('./RobotoRegular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./RobotoBold.woff2') format('woff2'),
    url('./RobotoBold.woff') format('woff');
}
