.example {
  width: 100%;
  background: #f3f3f3;
  display: flex;
  position: relative;
  padding: 30px 0 50px 0;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
}

.codeWrapper {
  display: flex;
}
