.codeBlock {
  width: 70%;
  margin: 0 0 0 0;
  text-align: left;
  margin-bottom: 15px;
}
.codeBlock > pre > code {
  font-family: "Monaco", "Menlo", courier, monospace;
  font-size: 12px;
  min-height: 270px;
  padding: 15px;
}

.codeBlock > pre {
  margin: 0 0 0 0;
}

@media all and (max-width: 1200px) {
  .codeBlock {
      width: 100%;
  }
}